/* CSS */

body {
  background-color: rgba(249, 249, 249, 0);
  margin: 0;
  overflow: hidden;
}

.rs-module {
  overflow: auto;
  border: 0px solid #cccccc00;
  padding: 0px;
  margin: 0px;
  position: absolute;
  scrollbar-color: none;
  background-color: rgb(0, 0, 0);
}

.rs-module::-webkit-scrollbar {
  display: none;
}

#slider-1 {
  border: 0px solid #ffffff00;
  padding: 0px;
  margin: -0px;
  position: absolute;
  display: block;
  scrollbar-color: none;
  z-index: 101;
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none;
  background-color: #f0f0f0;
}

.dot-center {
  background-color: rgb(255, 255, 255);
  width: 10px;
  height: 10px;
  z-index: 12;
  margin: auto;
  border-radius: 50%;
  position: absolute;
  top: 37%;
  left: 37%;
  margin: auto;

  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: SmalltoNormalDialog;
}

/* DOT Animation */

.dot {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 0, 0, 0);
  box-shadow: 0 0 0 1px rgb(255, 255, 255);
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 50%;
  z-index: 10;
}

.dot:not(:hover) {
  animation: grow 1.5s infinite;
}


.dot:hover {
  opacity: 0%;
  animation: none;
  scale: 1.5;
}

.dot:hover + .box {
  display: block;
}


.box {
  animation: SmalltoNormalDialog 1s;
  height: auto;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-radius: 50px;
  text-align: center;
  font-size: x-large;
  font-family: “Brush Script MT”;
  padding-left: 12px;
  padding-right: 8px;
  padding-top: 5px;
  white-space: nowrap;
  filter: drop-shadow(0 10px 8px rgb(5, 0, 0))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  height: 35px;
  display: none;
  z-index: 20;
}

.chule-direction {
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 17px;
  height: 17px;
  border-radius: 0%;
  position: relative;
  top: -48.5px;
  left: 0px;
  z-index: 30;
  margin: auto;
  clip-path: polygon(
    50% 50%,
    100% 100%,
    0% 100%
  ); 
  background-image: linear-gradient(to bottom, #010101, #ffffff);
}

/**
*
*
* ANIMATIONS OR KEYFRAMES 
*
*
*/

/**
 * ----------------------------------------
 * animation grow for points 
 * ----------------------------------------
 */

@keyframes grow {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
    opacity: 15%;
  }
  50% {
    transform: scale(1.5);
    opacity: 100%;
  }
}
/**
 * ----------------------------------------
 * animation blur /for img on menu opend
 * ----------------------------------------
 */
@keyframes blurizable {
  0% {
    filter: blur(1px);
  }
  100% {
    filter: blur(10px);
  }
}
/**
 * ----------------------------------------
 * animation blur /for menu on menu close
 * ----------------------------------------
 */
@keyframes outBlur {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0px);
  }
}

/**
 * ----------------------------------------
 * animation SmalltoNormalDialog /for dialog on dot hover
 * ----------------------------------------
 */
@keyframes SmalltoNormalDialog {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
}

/**
 * ----------------------------------------
 * animation slide-in-left for buttons on menu open
 * ----------------------------------------
 */
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-out-left for buttons on menu close
 * ----------------------------------------
 */
@keyframes slide-out-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px);
    opacity: 0;
  }
}

/**
*
*
* END ANIMATIONS OR KEYFRAMES 
*
*
*/

/* Contenedor de puntos */
.points-container {
  position: absolute;
  top: 0px;
  z-index: 1002;
}

/* Punto genérico */
.point {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 1004;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  z-index: 1004;
}

/* pantalla es de al menos 1300 píxeles osea , mas de 1300 px */
@media (min-height: 1300px) {
  .rs-module {
    height: 100vh;
    min-width: 100vw;
  }
  #slider-1 {
    height: 100vh;
    /* min-width: 100%; */
  }
}

/* Media query para pantallas más pequeñas */
@media (max-height: 1300px) {
  .rs-module {
    height: 100vh;
    min-width: 100vw;
  }
  #slider-1 {
    height: 110vh;
    min-width: 100vw;
  }
}

/* Botón de menú */
.buttonMenu {
  font-size: x-large;
  font-weight: 900;
  position: fixed;
  background-color: #ffffff00;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
  border: 1px solid #ffffff;
  color: #ffffff;
  z-index: 10300;
  bottom: 15px;
  left: 15px;
  margin: 4px;
  padding: 4px;
}

/* Elemento de menú */
.menuItemButton {
  background-color: #ffffff00;
  font-size: x-large;
  font-weight: 900;
  text-transform: capitalize;
  text-align: start;
  text-decoration: none;
  text-overflow: ellipsis;
  position: relative;
  margin-top: 10px;
  border: none;
}

/* Contenedor de texto */
.contenedor-texto {
  max-width: 55vw;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #25ab0000;
  color: white;
}

/* Menú */
.menu {
  top: 0;
  left: 0;
  height: 100%;
  position: fixed;
  background-color: #fcfcfc00;
  border: 3px solid #ff000000;
  color: #ffffff;
  z-index: 10300;
  display: none;
}

/* Media query para ocultar elementos en pantallas más grandes */
@media (min-width: 700px) {
  .buttonMenu {
    display: none;
  }
}


/* Estilos para botones de navegación */
.navigateButton{
  position: absolute;
  background-color: #ffffff00;
  z-index: 100300;
  border: none;
  height: 30px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 30px;
  width:auto;
  display: flex ;
  flex-direction: row;
}

/* Estilos para ícono de navegación dentro del botón */
.navigateButton .navigateRow{
  color: #f0f0f0;
  fill: #f0f0f0;
  margin-top: 1.5px;
  margin-left: -2.5px;
}


/* Mostrar texto al pasar el mouse sobre el botón */
.navigateButton:hover .text {
  display: block;
}


/* Estilos para el texto dentro del botón */
.navigateButton .text{
  display: none;
  color: #f0f0f0;
  margin-top: 4.5px;
}


/* Mostrar texto en color oscuro al pasar el mouse sobre el texto */
.text:hover{
  display: block;
  color: #010101;
}

/* Cambiar color del botón al pasar el mouse sobre él */
.navigateButton:hover {
  color: #010101;
}

